.App {
    margin: auto;
    padding: 24px;

    position: relative;
    
    min-width: 375px;
    max-width: 640px;
    height: 640px;

    color: #4D5358;
    ;

    /* background-color: aquamarine; */
}

.text-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}